<?xml version="1.0"?>
<!--
	/*                                                                       *
	* This script is part of the findologic search project			         *
	*                                                                        *
	* findologic is free software; you can redistribute it and/or modify  *
	* it under the terms of the GNU General Public License version 2 as      *
	* published by the Free Software Foundation.                             *
	*                                                                        *
	* This script is distributed in the hope that it will be useful, but     *
	* WITHOUT ANY WARRANTY; without even the implied warranty of MERCHAN-    *
	* TABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General      *
	* Public License for more details.                                       *
	*                                                                        *
	* @version $Id: system.xml 489 2010-08-06 12:50:40Z weller $
	* @license http://opensource.org/licenses/gpl-license.php GNU Public License, version 2
	*/
-->
<config>
    <sections>
        <findologic translate="label" module="findologic">
            <label>Findologic Search</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>101</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config translate="label">
                    <label>General Settings</label>
                	<comment>&lt;strong&gt;Please note&lt;/strong&gt;: &lt;a target="_blank" href="http://www.findologic.com/"&gt;Get in touch with FINDOLOGIC&lt;/a&gt; to receive your Shop Key.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	
                        <status translate="label">
                            <label>Status</label>
                            <frontend_model>findologic/system_config_form_field_status</frontend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>						
												
						
                        <shopkey translate="label">
                            <label>Shop Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shopkey>

                    	<url translate="label">
                    		<label>Service Server</label>
                    		<comment>Example: srv06.findologic.com</comment>
                    		<frontend_type>text</frontend_type>
                    		<sort_order>20</sort_order>
                    		<show_in_default>1</show_in_default>
                    		<show_in_website>1</show_in_website>
                    		<show_in_store>1</show_in_store>
                    	</url>   
                	
                    	<logo translate="label">
                    		<label>Logo</label>
                    		<frontend_type>select</frontend_type>
                    		<source_model>findologic/system_config_source_logo</source_model>
                    		<sort_order>40</sort_order>
                    		<show_in_default>1</show_in_default>
                    		<show_in_website>1</show_in_website>
                    		<show_in_store>1</show_in_store>
                    	</logo>

                    </fields>
                </config>  
                <export translate="label">
					<comment>Please copy the following URLs to your &lt;a target='_blank' href='https://secure.findologic.com/login/index.php'&gt;Findologic Account&lt;/a&gt;:&lt;br/&gt;&lt;strong&gt;CSV URL:&lt;/strong&gt; http://SITE_URL/export/findologic_STORE_CODE.csv&lt;br/&gt;&lt;strong&gt;Export URL:&lt;/strong&gt; http://SITE_URL/index.php/findologic/csv/create/part/1/limit/1000/store_code/STORE_CODE/&lt;br/&gt;The number behind .../limit/ can be changed by your own. 100 should be the minimum number and as higher the used number is as higher should be your server power.&lt;br/&gt;&lt;br/&gt;</comment>
                    <label>Export Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>      
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                        <export translate="label">
                            <label>Export Instock Product Only</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </export>
                    </fields>
                </export>                               
            </groups>
        </findologic>
    </sections>
</config>
